@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap'); /* Include the Sometype Mono font */

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Sometype Mono', monospace;
  }
  
#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-button {
  position: absolute;
  bottom: 50px; /* Position am unteren Rand */
  left: 50px; /* Position am linken Rand */
}

.info-button img {
  width: 40px; /* Größe des Icons */
  cursor: pointer;
}

.label {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    padding: 5px;
    color: white;
    position: absolute;
    white-space: nowrap;
}

#leftPanel {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 400px;
    padding: 15px;
    color: white;
    z-index: 1000; /* Make sure it's above the globe */
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Make the content stack vertically */
    gap: 10px; /* Add vertical spacing between sections */
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.control-section {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    margin-top: 40px;
}

.control-button {
    background: none;
    color: #888;
    border: none;
    padding: 3px;
    text-align: left;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Sometype Mono', monospace;
    text-decoration: none;
}

.control-button.active,
.control-button:hover {
    color: white;
    text-decoration: underline;
}

button {
    font-family: 'Sometype Mono', monospace;
    color: white;
    background: none;
    border: none;
    text-align: left;
}

button:hover {
  text-decoration: underline;
}

button:active {
  text-decoration: underline;
}


#innerPanel {
  width: 300px;
  margin-top: -40px;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  width: 300px;

}

#legendPanel {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 180px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.37);
  box-shadow: 0px 0px 20px 17px rgba(0,0,0,0.37);

  color: white;
  z-index: 1000; /* Sicherstellen, dass es über anderen Elementen liegt */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'Sometype Mono', monospace;
}

#legendPanel {
  margin-right: 300px;
  margin-bottom: 100px;
}

#legendPanel h2 {
  font-size: 1em;
  margin-bottom: 10px;
}

#legendContent {
  display: flex;
  flex-direction: row; /* Zwei Spalten anordnen */
}

.legend-circles {
  display: flex;
  flex-direction: column; /* Kreise untereinander anordnen */
  justify-content: space-around; /* Gleichmäßiger Abstand zwischen Kreisen */
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: 10px; /* Abstand zwischen den Kreisen */
}

.legend-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Text in Spalte gleichmäßig verteilen */
  margin-left: 10px; /* Abstand zur linken Spalte */
}

.legend-text p {
  margin: 0;
  font-size: 0.8em;
}


/* #sliderPanel {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
  z-index: 1001;
  display: flex;
  align-items: center;
  gap: 20px;
} */

/* #dateSlider {
  width: 400px;
} */

/* #playPauseButton {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.5em;
  color: white;
} */

/* #dateDisplay {
  color: white;
  font-family: 'Sometype Mono', monospace;
} */


#infoCard {
  overflow: hidden; /* Verhindert, dass Inhalt die Rundungen verdeckt */
  transform: none; /* Testweise entfernen von translateZ(0) */
  display: block;
  position: absolute;
  top: 7%;
  right: 5%;
  width: 650px;
  height: 750px;
  z-index: 9999; /* Setzt z-index auf einen hohen Wert */
  background: rgba(198, 198, 198, 0.07); /* halbtransparentes Weiß */
  border: 4px solid rgba(255, 255, 255, 0.035); /* leichter Rand */
  border-radius: 40px;
  backdrop-filter: blur(5px); /* Weichzeichner-Effekt */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
}


.pin-button {
  border-radius: 10px; /* Rounded corners */
  padding: 5px 10px; /* Adjust padding for rectangular shape */
  background-color: white; /* Default background color */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.pin-button:hover {
  background-color: grey; /* Change to grey on hover */
}
